:root {
    /*System theme colors*/
    --bg-dark: hsl(0, 0%, 5%);
    --bg: hsl(0, 0%, 10%);
    --bg-light: hsl(0, 0%, 15%);
    --bg-hover: hsl(0, 0%, 20%);
    --text: hsl(0, 0%, 95%);
    --text-muted: hsl(0, 0%, 70%);
    --time-line-position: 60px;
    --modal-height: 300px;
    --primary-color: rgb(21 128 61);
}
body {
    font-family: system-ui, sans-serif;
    background-color: var(--bg-dark);
    color: var(--text);
    margin: 0;
    /* padding-bottom: var(--modal-height); */
    box-sizing: border-box;
}

main {
    padding: 0 1rem;
    margin-bottom: 2rem;
}

h5, h4, small {
    margin: 0;
    padding: 0;
}

.btn-success {
    background-color: var(--tg-theme-button-color, #216559);
    color: var(--tg-theme-button-text-color, #fff);
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

header {
    padding: 16px;

    img {
        --size: 2.5rem;
        height: var(--size);
        width: var(--size);
        border-radius: 50%;
        object-fit: cover;
        margin-right: 0.5rem;
    }
    a {
        font-size: 14px;
        color: var(--tg-theme-link-color, #3466a8);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.slide-in-top {
    animation: slideInTop 0.4s forwards;
}

.slide-in-bottom {
    animation: slideInBottom 0.4s forwards;
}

@keyframes slideInTop {
    from {
        transform: translateY(50%);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes slideInBottom {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(50%);
    }
}

.calendar {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    z-index: 1;

    height: calc(100vh - 190px);
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-gutter: stable; 

    position: relative;

    scrollbar-width: thin;
    scrollbar-color: var(--bg-light) transparent;
}

*::-webkit-scrollbar {
    display: none;
}

.calendar::-webkit-scrollbar-track {
    border-radius: 8px;
    background: transparent !important;
}
.calendar::-webkit-scrollbar {
    width: 3px;
}
.calendar::-webkit-scrollbar-thumb {
    background: var(--bg-light) !important;
    border-radius: 8px;
}

.calendar_item {
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 1rem;
    margin-bottom: 7px;
    align-items: center;
    height: 60px;

    .time {
        color: var(--text);
        font-weight: bold;
        font-size: 14px;
        text-align: right;
    }

    .info {
        color: var(--text-muted);
        background-color: var(--bg);
        padding: 10px;
        border-radius: 8px;
        transition: background-color 0.3s ease-in-out;
        height: 40px;
        cursor: pointer;
        opacity: 0.6;

        h4 {
            max-width: 300px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 15px;
            margin-bottom: 3px;
        }
        small {
            font-size: 13px;
        }
    }

    .info:hover, .info:focus {
        background-color: var(--bg-light);
    }

    .info.active {
        opacity: 1 !important;
    }
}
.calendar_current-time {
    position: absolute;
    top: var(--time-line-position);
    right: 0;
    width: 85%;
    border-bottom: 3px solid var(--primary-color);
    opacity: 0.6;
    z-index: 99;
    /* Show time */
    text-align: right;
    padding-right: 1rem;
    color: var(--primary-color);
    font-weight: 500;

    transition: top 0.5s ease-in-out;
}

.modal {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 94vw;
    height: var(--modal-height);
    background-color: var(--bg-light);
    border-radius: 8px 8px 0 0;
    padding: 0 1rem;
    z-index: 997;
    /* margin: 0 16px; */

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.3s;
}

.modal-content {
    margin-top: 1rem;
    color: var(--text);
    font-size: 14px;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 100px 1fr;
    gap: .5rem;

    span {
        color: var(--text-muted);
    }
}

.modal.active {
    opacity: 1;
    visibility: visible;
}

.btn {
    background-color: transparent;
    color: var(--text);
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    padding: 0;

    &:hover {
        transform: scale(1.2);
    }
}

.day-change {
    padding: .5rem 0 .25rem 0;
}

.btn-close {
    background-color: transparent;
    color: var(--text);
    border: none;
    font-size: 25px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: rotate(90deg);
    }

    &::after {
        content: '✖';
    }
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    max-width: 90%;
}

.loader-container {
    width: 100%;
    height: calc(100vh - 190px);
    position: fixed;
    top: 135px;
    left: 0;
    background-color: var(--bg-dark);
    z-index: 999;

    display: flex;
    align-items: center;
    justify-content: center;
}
.loader {
        transform: rotateZ(45deg);
        perspective: 1000px;
        border-radius: 50%;
        width: 48px;
        height: 48px;
        color: var(--text);
      }
        .loader:before,
        .loader:after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: inherit;
          height: inherit;
          border-radius: 50%;
          transform: rotateX(70deg);
          animation: 1s spin linear infinite;
        }
        .loader:after {
          color: var(--primary-color);
          transform: rotateY(70deg);
          animation-delay: .4s;
        }

      @keyframes rotate {
        0% {
          transform: translate(-50%, -50%) rotateZ(0deg);
        }
        100% {
          transform: translate(-50%, -50%) rotateZ(360deg);
        }
      }

      @keyframes rotateccw {
        0% {
          transform: translate(-50%, -50%) rotate(0deg);
        }
        100% {
          transform: translate(-50%, -50%) rotate(-360deg);
        }
      }

      @keyframes spin {
        0%,
        100% {
          box-shadow: .2em 0px 0 0px currentcolor;
        }
        12% {
          box-shadow: .2em .2em 0 0 currentcolor;
        }
        25% {
          box-shadow: 0 .2em 0 0px currentcolor;
        }
        37% {
          box-shadow: -.2em .2em 0 0 currentcolor;
        }
        50% {
          box-shadow: -.2em 0 0 0 currentcolor;
        }
        62% {
          box-shadow: -.2em -.2em 0 0 currentcolor;
        }
        75% {
          box-shadow: 0px -.2em 0 0 currentcolor;
        }
        87% {
          box-shadow: .2em -.2em 0 0 currentcolor;
        }
      }
   